.icon_section {
  --nav-height: 3.25rem;
  position: absolute;
  z-index: 2;
  top: var(--nav-height);

  --pad-l: 0 0.5em;
  --margin-top: 0.5rem;

  transform: translateX(-50%);

  box-shadow: 0 0px 2px var(--accent-light);
  /* animation: expand 0.35s ease-in-out; */
}
.close_section {
  position: absolute;
  z-index: -1;
  inset: 0;
  /* top: 3.5rem; */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.025);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .title {
  font-size: clamp(0.8rem, 6vw, 1.25rem);
  margin: var(--margin-top);
  margin-left: 0;
  text-transform: uppercase;
  font-weight: 100;
  color: var(--font-primary);
  /* text-align: center; */
}
.header i {
  color: var(--font-primary);
  font-size: 1.4rem;
  cursor: pointer;
  /* font-size: 0; */
}

@media (max-width: 1250px) {
  .icon_section {
    transform: translateX(-75%);
  }
}
@media (min-width: 741px) {
  .icon_section {
    width: 25rem;
    aspect-ratio: 1/1.25;
    max-height: 85vh;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-2%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@media (max-width: 740px) {
  .mobile_close_sec .icon_section {
    --nav-height: 4.2rem;
    width: 96vw;
    height: 70vh;
    max-height: 45rem;
    max-width: 25rem;

    transform: translateX(0%);
    transform-origin: top;
    animation: slideIn 0.35s ease-in-out;
  }

  .mobile_close_sec {
    position: absolute;
    z-index: -3;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    /* background-color: rgba(0, 0, 0, 0.025); */
    /* overflow-y: scroll; */
  }
  .header i {
    font-size: 1.4rem;
  }
}
