.container {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: var(--pad-l);
  /* border: 1px solid red; */

  --notif-block-pad-t: 0.3em;
  --notif-block-margin: 0.8rem;

  --msg-txt-size: clamp(0.85rem, 4vw, 1.1rem);

  --bg-color: var(--primary);

  --shadow: var(--accent-light);

  background-color: var(--bg-color);
  color: var(--font-primary);

  /* CUSTOM PIC */
  --profile-height: 2rem;
  --img-radius: 25px;
  --scale-bg: 1.15;
}
.dtheme {
  --msg-txt-color: var(--light-shade);
  --msg-block-color: var(--accent-dark);
}
.ltheme {
  --msg-txt-color: var(--accent-dark);
  --msg-block-color: none;

  --pic-bg: var(--accent-light);
}

.section {
  margin-bottom: calc(var(--margin-top) * 2.5);
  /* padding: var(--pad-l); */
  animation: fadeIn 0.35s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dropdown {
  position: relative;
  display: flex;
  gap: 0.5em;
  align-items: center;
  text-transform: capitalize;

  cursor: pointer;
  width: 95%;
}
.dropdown h5 {
  font-weight: 400;
}
.dropdown i {
  transition: transform 0.25s ease-in-out;
}
.dropdown.expand i {
  transform: rotate(180deg);
}

.section_notifications {
  margin-top: var(--margin-top);
}
.more_section {
  display: flex;
  justify-content: center;
}
.more {
  margin-top: var(--margin-top);
}

/* NOTIFICATION TYPE */
.notification {
  position: relative;
  display: flex;
  gap: 1rem;
  width: 98%;
  min-height: 3rem;
  align-items: center;
  margin: 0 auto;
  margin-top: var(--notif-block-margin);
  padding: var(--notif-block-pad-t) 0.5em;

  border: 1px solid var(--base-color);
  /* box-shadow: 0px 0px 10px var(--secondary); */
  /* box-shadow: 0 0px 4px var(--shadow); */

  background-color: var(--msg-block-color);
  animation: fadeIn 0.35s ease-in-out;
}
.dropdown.notify::before,
.notification.notify::before {
  content: "";
  position: absolute;
  background-color: #fa3e3e;
  top: 0;
  right: 0;
  width: 0.6em;
  aspect-ratio: 1/1;

  border-radius: 50%;
}

.details {
  text-align: left;
  color: var(--msg-txt-color);
}
.msg p {
  font-size: var(--msg-txt-size);
  line-height: 110%;
  margin-bottom: 0.15em;
}

.msg p b {
  text-transform: lowercase;
  cursor: pointer;
  /* border: 1px solid red; */
}
.msg p b:hover {
  opacity: 0.75;
  /* border-bottom: 1px solid var(--msg-txt-size); */
}

@media (max-width: 740px) {
  .dropdown {
    cursor: default;
  }
}
