.movie {
  --card-width: min(12rem, 30vw);
  --card-height: min(17rem, 42vw);
  position: relative;
  padding: 1.5rem;
  padding-bottom: 0;
}

/* MOVIE DETAILS */
.mov_details {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.movie .main_img {
  width: var(--card-width);
  height: var(--card-height);
  object-fit: cover;
  object-position: 50% 50%;
  box-shadow: 0px 4px 10px var(--card-shadow);
  /* filter: drop-shadow(0px 0px 5px var(--card-shadow)); */
  /* border: 3px solid var(--secondary); */
}

.movie .movie_info {
  flex: 1;

  flex-grow: 2;
  flex-shrink: 2;
}
.genres {
  /* border:1px solid red; */
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.movie .movie_info .genre {
  gap: 0.5rem;
  width: max-content;
  padding: 0.2rem 0.6rem;
  background: var(--secondary);
  font-size: clamp(0.5rem, 2.5vw, 0.8rem);
  /* color: var(--primary); */
  border-radius: 5px;
}
.movie .movie_info .genre::before {
  display: flex;
  flex-direction: column;
}
.movie .movie_info h1 {
  font-size: clamp(1.2rem, 3vw, 2rem);
  font-weight: bold;

  margin: -1% 0% -1% 0%;
}
.movie .movie_info .yr {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.movie .movie_info .yr h3 {
  font-size: 1rem;
  margin: 0;
  /* background-color: var(--third); */
  padding: 0.1rem 0.3rem 0.1rem 0.3rem;
  /* color: var(--third); */
}
.movie .movie_info .yr h4 {
  width: fit-content;
  padding: 0.1rem 0.2rem;
  background: #dba506;
  color: var(--font-primary);
  font-size: 0.8rem;
  border-radius: 3px;
}
.movie .movie_info .desc {
  width: min(90%, 50vw);
  height: 5rem;
  overflow: auto;
  font-size: clamp(0.8rem, 2vw, 1rem);
}
.movie .movie_info .actors {
  opacity: 0.6;
}

/* MENUS */
.more_section {
  display: flex;
  flex-direction: column;
}
.menus {
  display: flex;
  gap: 1rem;
  margin-top: min(10%, 1rem);
  margin-left: 7%;
}
.menu {
  width: max-content;
  padding: 0.4rem 1rem;
  background: var(--font-primary);
  color: var(--font-secondary);
  font-size: clamp(0.6rem, 3vw, 0.8rem);
  border-radius: 15px;
  cursor: pointer;
}
/* .menu:hover{border: 3px solid var(--third);} */

/* SIMILAR MOVIES */

.movie .selected_content p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 1.4rem !important;
  margin: 0;
}

/* BUTTON LOADER */
.btnloader {
  position: relative;
  display: grid;
  place-items: center;
  padding: 5%;
  width: 2.9rem;
  aspect-ratio: 1/1;
}
.btnloader span {
  width: 1.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;

  transform: rotate(0deg);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid transparent !important;
  animation: spinbtn 0.8s ease infinite;
}
@keyframes spinbtn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ICONS */
.actions {
  flex-grow: 0.1;
  flex-shrink: 1;
}
.movie .icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: var(--third);
  width: max-content;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  /* opacity: .2; */
}
.icon {
  position: relative;
  border: none;
  background: none;
  /* background-color: var(--third); */
  color: black;
  width: 2.9rem;
  border-radius: 50%;
  aspect-ratio: 1/1;

  display: grid;
  place-items: center;
  cursor: pointer;
}
.icon:hover::before {
  content: attr(data-src);
  position: absolute;
  display: block;
  right: 110%;
  padding: 0.3rem;
  width: max-content;
  color: var(--font-primary);
  text-align: right;
  font-size: 0.9rem;
  box-shadow: 0 0 15px var(--button-shadow);
}
.movie .icons i {
  font-size: 1.2rem;
}
.movie .icon:active {
  transform: scale(0.95);
}
/* .movie .icons i:hover{
    background-color: var(--secondary);
    color: var(----font-primary);
    font-size: 1.7rem;
} */

/* close btn */
.movie .cbtn {
  position: absolute;
  top: 1rem;
  right: 1vw;
  z-index: 3 !important;
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: var(--font-primary);
  border: none;
  cursor: pointer;
}
.movie .cbtn:active {
  transform: scale(0.95);
  transform-origin: center;
}

@media (max-width: 610px) {
  .mov_details {
    flex-wrap: wrap;
    margin-bottom: 10%;
  }
  /* Actions */
  .actions {
    margin: auto;
  }
  .movie .movie_info {
    min-width: 50%;
  }
  .movie .icons {
    display: flex;
    flex-direction: row;
  }
}
