.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    width: 80vw;
    background: var(--font-secondary);
    box-shadow: 0 0 5px var(--card-shadow);
    border-radius: 5px;
    border: none;
    overflow-y: auto;
}


@media (min-width:601px) and (max-width:1020px){
    .box{
        height: 90vh;
        width: 90vw;
    }
}

@media (max-width:600px){
    .box{
        height: 95vh;
        width: 98vw;
    }
}