.list_section {
  border: 1px solid red;
  height: max(50vh, 30rem);
  display: grid;
  align-items: flex-start;
  /* justify-content: center; */
}
.mylist {
  /* border: 1px solid red; */
  margin: 0rem 0.5rem;
  margin-top: min(2rem, 10%);

  /* margin-bottom: max(1.5rem, 3%); */

  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  gap: 0.5rem;
  animation: animate1 0.35s linear 1;
}
@keyframes animate1 {
  0% {
    opacity: 0;
    /* transform: translateY(10%); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0%); */
  }
}
.mylist > .head {
  position: relative;
  left: 7%;
  /* margin-bottom: min(-2%, -1rem); */
  width: 80vw;
  /* width: max-content; */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 300;
  font-size: clamp(1.1rem, 4vw, 1.9rem);
  color: var(--font-primary);
}

.mylist > .head .name {
  position: relative;
  left: 0;
  bottom: 0;
  text-transform: capitalize;
}
/* .mylist > .head .name::before{
    content: '';
    position: absolute;
    left:-1rem;
    transform: translateY(30%);
    width:.4rem;
    height: 70%;
    background: var(--third);
} */
.mylist > .head span {
  width: 0;
  height: 0;
  border-top: min(1.4rem, 2.58vw) solid transparent !important;
  border-bottom: min(1.4rem, 2.58vw) solid transparent !important;
  border-left: min(1.4rem, 2.58vw) solid var(--secondary) !important;
}

.suggest_text {
  color: var(--font-primary);
  text-align: center;
  width: 30%;
  margin: auto;
  /* margin-bottom: min(2rem, 20%); */
  padding: 0.5rem 0.5rem;
  font-size: var(--suggestSize);
  border: 1px solid var(--secondary);
}

.mylistLoader {
  border: 1px solid red;
  height: 30vh;
  width: 90%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  place-items: center;
}

@media (max-width: 1200px) {
  .mylist > .head {
    left: 3%;
  }
  .list_section {
    height: max(58vh, 24rem);
  }
}

/* MOBILE */
@media (max-width: 600px) {
  .suggest_text {
    color: var(--font-primary);
    text-align: center;
    width: 80%;
  }
  .list_section {
    height: min(40vh, 20rem);
  }
}
@media (max-width: 340px) {
  .suggest_text {
    color: var(--font-primary);
    text-align: center;
    width: 80%;
  }
  .list_section {
    height: max(15vh, 15rem);
  }
}
