.bar_default {
  --bg-color: var(--light-color);
  --place-holder: var(--accent-dark);
  --text-color: var(--accent-dark);

  --inpu-text-size: clamp(0.9rem, 3vw, 1.1rem);

  background-color: var(--bg-color);
  color: var(--text-color);
}
.dtbar {
  --bg-color: var(--light-color);
  --place-holder: var(--accent-dark);
  --text-color: var(--accent-dark);
}
.ltbar {
  --bg-color: rgba(0, 0, 0, 0.8);
  --place-holder: var(--light-color);
  --text-color: var(--light-color);
}

.search_bar {
  grid-column: 3/4;
  justify-self: center;

  width: 80%;

  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2%;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}
.search_bar ion-icon {
  cursor: pointer;
  color: var(--text-color) !important;
  /* color: black !important; */
}
.search_bar ion-icon:first-child {
  font-size: 1.5rem;
}

.search_bar .input {
  position: relative;
  width: 100%;
  height: 2rem;
}
.search_bar input {
  position: absolute;
  width: 100%;
  height: 2rem;

  font-size: var(--inpu-text-size);
  background: none;
  border: none;
  color: var(--text-color);
}
.search_bar input::placeholder {
  color: var(--place-holder);
  opacity: 0.75;
  font-size: var(--inpu-text-size);
}

.search_bar input:focus {
  outline: none;
}
.search_bar ion-icon:last-child {
  position: absolute;
  right: 2%;
  height: 100%;

  font-size: 1.3rem;
}

@media (min-width: 601px) and (max-width: 1200px) {
  .search_bar {
    width: 100%;
  }
}

/* MOBILE CSS */
.mob_searchbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0.25em 2em;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
  background-color: var(--primary);

  opacity: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.25s ease-in-out, opacity 0.2s ease-in-out;
}
.mob_searchbar.opened {
  opacity: 1;
  transform: scale(1, 1);
}
.mob_searchbar button {
  border: none;
  background: none;
  font-weight: 400;

  padding: 0;

  color: var(--font-primary);
}
.mob_searchbar button i {
  font-size: clamp(0.9rem, 5vw, 1.2rem);
}
@media (max-width: 600px) {
  .search_bar ion-icon {
    cursor: default !important;
  }
  .mob_searchbar {
    padding: 0.25em 0.5em;
  }
}
