.m_carousel {
	margin: auto;
	width: 90%;
	height: max-content;
	padding: 0 0.5rem;
	/* animation: animate1 1s linear 1; */
	/* border:1px solid red; */
}

@keyframes animate1 {
	0% {
		opacity: 0;
		transform: translateY(10%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.m_carousel .wrapper {
	padding: 10% 0;
}
@media (max-width: 1200px) {
	.m_carousel {
		width: 100%;
	}
}
/* RESPONSIVE SLIDER */
@media (max-width: 1080px) {
	.m_carousel {
		width: 105%;
	}
}
@media (min-width: 600px) and (max-width: 820px) {
	.m_carousel {
		width: 90%;
	}
}
@media (max-width: 600px) {
	.m_carousel {
		width: 105%;
		padding: 0;
	}
	.m_carousel .slick-list {
		max-height: max(30vh, 16rem);
	}
	.m_carousel .wrapper {
		padding: 0.3rem 0;
	}
}
@media (max-width: 540px) {
	.m_carousel {
		width: 100%;
	}
}
@media (max-width: 420px) {
	.m_carousel {
		width: 110%;
	}
}
@media (max-width: 380px) {
	.m_carousel {
		width: 105%;
	}
}

@media (max-width: 240px) {
	.m_carousel {
		width: 105%;
	}
}
/* @media (max-width: 385px) {
  .m_carousel {
    width: 110%;
  }
} */
