.mylist {
  /* border:1px solid red; */
  margin: 0.5rem 0.5rem;
  margin-bottom: max(1.5rem, 3%);
  /* height:max(70vh,30rem); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  animation: animate1 1s linear 1;
}
@keyframes animate1 {
  0% {
    opacity: 0;
    /* transform: translateY(10%); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0%); */
  }
}
.mylist > .head {
  position: relative;
  left: 7%;

  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 300;
  font-size: clamp(1.5rem, 8vw, 1.9rem);
  color: var(--font-primary);
}

.mylist > .head .name {
  position: relative;
  left: 0;
  bottom: 0;
}
/* .mylist > .head .name::before{
    content: '';
    position: absolute;
    left:-1rem;
    transform: translateY(30%);
    width:.4rem;
    height: 70%;
    background: var(--third);
} */
.mylist > .head span {
  width: 0;
  height: 0;
  border-top: 2.5vh solid transparent;
  border-bottom: 2.5vh solid transparent;
  border-left: 2.5vh solid var(--secondary);
}

@media (max-width: 600px) {
  .mylist {
    margin-bottom: 10%;
  }
  .mylist > .head .name::after {
    border-top: 2vh solid transparent;
    border-bottom: 2vh solid transparent;
    border-left: 2vh solid var(--third);
  }
}
