/* Section 2 */
.two {
  position: relative;
  width: 100%;
  min-height: 80vh;
  background: var(--primary);
  padding-bottom: 1.5rem;
}

/* Carousel section */
.c_section {
  /* border:1px solid red; */
  margin: 0 0.5rem;
  margin-bottom: max(1.5rem, 2%);
  display: flex;
  flex-direction: column;
  gap: 2rem;

  animation: animate1 0.8s linear 1;
}
@keyframes animate1 {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.c_section > .head {
  position: relative;
  left: 6%;
  margin-bottom: -1rem;
  width: max-content;

  font-weight: 300;
  text-transform: capitalize;
  font-size: clamp(1.5rem, 8vw, 1.9rem);
  color: var(--font-primary);
  border-left: 0.5rem solid var(--secondary);
  line-height: 80%;
}

.c_section > .head .name {
  position: relative;
  left: 0.4rem;
  bottom: 0;
}
/* .c_section > .head .name::before{
    content: '';
    position: absolute;
    left:-.6rem;
    transform: translateY(30%);
    width:.4rem;
    height: 70%;
    background: var(--secondary);
} */
