.friends,
.searchList {
  /* margin-top: 20px; */
  /* padding-left: 10px; */
  padding: 0 var(--margin-l);
  /* max-height: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* gap: 10px; */
  animation: fadeIn 0.35s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.online,
.offline {
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin-l) * 2);
  margin-bottom: calc(var(--margin-l) * 2.5);
}
.online h5,
.offline h5 {
  font-weight: 400;
  color: var(--font-primary);
}
.noResult,
.loaderSection {
  /* border: 1px solid red; */
  height: 25%;
  display: grid;
  justify-content: center;
}

.cursor,
.component,
.see_btn {
  cursor: pointer;
}
.see_btn {
  background: none;
  outline: none;
  border: 0;
  color: var(--see_more);
  text-align: left;
  /* padding-left: 10px; */
  font-size: 0.8rem;
}
