.people_comp {
  position: absolute;
  inset: 0;

  background-color: var(--primary);
  position: absolute;
  /* top: 6rem; */
  list-style: none;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: var(--margin-top);
  padding: var(--pad-l);
  /* padding: 15px 10px; */

  --bg_color: black;
  --online: rgb(3, 255, 3);
  --offline: grey;
  /* --status:var(--) */
  --offline_word: rgb(199, 199, 199);
  --see_more: rgba(255, 183, 0, 0.925);
  --scroll: rgb(110, 110, 110);
  --search: aliceblue;

  --you_bg: var(--accent-light);
  --switch: var(--accent-dark);
  --switch-icon: var(--light-shade);
  --active-switch: var(--light-shade);
  --active-switch-icon: var(--accent-light);
  --notify-color: red;

  /* CUSTOM PROFILE */
  --profile-height: 2rem;
  --img-radius: 25px;
  --scale-bg: 1.15;
  --bg-blur: 0;

  --margin-l: 0.25em;
  --username-size: clamp(0.8rem, 3vw, 1rem);
  --uicon-color: var(--font-primary);
}
.ltheme {
  --user-txt-color: var(--accent-dark);
  --user-block-color: none;
  --status-color: var(--accent-light);
  --border: var(--base-color);
  --pic-bg: var(--accent-light);
}
.dtheme {
  --user-txt-color: var(--light-shade);
  --user-block-color: var(--accent-dark);
  --status-color: var(--accent-light);
  --border: var(--base-color);
  --pic-bg: var(--light-shade);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  /* padding: 0 5px; */
}

.search {
  width: 100%;
  height: 2.3rem;
  border: 1px solid grey;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 0.5em;
}
.sicon > ion-icon {
  color: var(--font-primary) !important;
}
.bar {
  background: none;
  outline: none;
  border: 0;
  width: 100%;
  color: var(--font-primary);
}
.icon {
  cursor: pointer;
}
.Toggle {
  margin-top: -0.5em;
  padding-bottom: 0.3em;
}
.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--margin-l);
  background-color: var(--switch);
  padding: 0.25em;
  border-radius: 20px;
}
.left,
.right {
  position: relative;
  padding: 0.25em 1em;
  border-radius: 20px;
  cursor: pointer;
  color: var(--light-shade);
}
.active {
  background-color: var(--active-switch);
  color: var(--active-switch-icon);
}
.right.notify::before {
  content: "";
  position: absolute;
  background-color: var(--notify-color);
  top: 0;
  right: 20%;
  width: 0.5em;
  aspect-ratio: 1/1;

  border-radius: 50%;
}
