.home {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
}
.home::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(180deg, var(--secondary), var(--primary));
  overflow: hidden;
}
.home .container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.home .one {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .one .heading {
  height: 80%;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;

  font-size: clamp(1.2rem, 8vw, 7rem);
  font-weight: 700;
  color: var(--font-primary);
}
.home .one .heading p {
  margin: 0;
  line-height: 90%;
}

/* .home .one .categories{
    position: absolute;
    bottom: 15%;
    left:5%;
    z-index:0;
    

    display: flex;
    flex-wrap: wrap;
    gap:1rem;
} */
/* .home .one .categories button
{   
    width:min(40vw,12rem);
    height:min(8vh,4rem);
    border: none;
    font-size:clamp(1rem,5vw,1.8rem);
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--button-shadow);
}
.home .one .categories button{
    background: var(--secondary);
    color: var(--font-primary);
}
.home .one .categories .ml{
    background: white;
    color: var(--secondary);
} */

.notch {
  position: fixed;
  bottom: 1rem;
  right: 2vw;
  z-index: 3;
  font-size: 2.5rem;
  color: var(--font-primary);
  cursor: pointer;
  transition: all ease 0.2s;
}
.notch:active {
  transform: scale(0.9) !important;
}

@media (max-width: 600px) {
  .home {
    height: 50vh;
  }
  .home .one {
    position: relative;
    height: 50vh !important;
  }
  .home .one .heading {
    height: 80%;
    margin-top: 25%;
    display: flex;
    font-size: clamp(1rem, 7vw, 5rem);
  }
  .notch {
    font-size: 2rem;
  }
}
