.home {
  position: relative;
  z-index: 1;
  /* width: 100%;
  height: 100vh; */
}
.home::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  /* overflow: hidden; */
}
.home .container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.section_one {
  position: relative;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}
.section_one.dtheme {
  background: linear-gradient(180deg, var(--base-color), var(--primary));
  --t-color1: var(--accent-light);
  --t-color2: var(--light-shade);
}
.section_one.ltheme {
  background-color: var(--primary);
  --t-color1: var(--accent-light);
  --t-color2: var(--accent-dark);
}

.section_one .heading {
  margin: 0 auto;
  margin-top: 4.5rem;
  /* height: 50vh; */
  width: 90%;
  /* aspect-ratio: 3.5/1; */
  padding: 0.3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  color: var(--font-primary);
  border: 1px dashed var(--font-primary);
  text-transform: capitalize;
  text-align: center;
}
.title {
  margin-bottom: min(5%, 2rem);
}
.title h3 {
  margin: 0;
  font-size: clamp(1.3rem, 8vw, 3rem);

  background-image: linear-gradient(45deg, var(--t-color1), var(--t-color2));
  background-clip: text;
  color: transparent;
}
.title p {
  font-size: clamp(0.7rem, 3vw, 1.1rem);
}
.features {
  padding: 0 0.5rem;
  margin: min(2%, 1rem) 0;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  gap: 0.5rem;
  row-gap: 0;
  list-style: none;
  font-size: clamp(0.65rem, 3vw, 1.2rem);
}
.features + p {
  font-size: clamp(0.5rem, 3vw, 1rem);
}
.stats {
  margin-top: 1rem;
  border: 1px solid var(--font-primary);
  padding: 0.25em 0.5em;

  font-size: clamp(0.75rem, 3vw, 1.2rem);
}

.notch {
  position: fixed;
  bottom: 1rem;
  right: 2vw;
  z-index: 3;
  font-size: clamp(1.8rem, 3vw, 2.5rem);
  color: var(--font-primary);
  cursor: pointer;
  transition: all ease 0.2s;

  /* border: 1px solid red; */
}

@media (min-width: 601px) {
  .section_one .heading {
    min-height: 18rem;
  }
}
@media (max-width: 600px) {
  .home .section_one .heading {
    width: 98%;
    aspect-ratio: 2/1.2;
  }
}
